.banner {
  // height: auto;

  width: 100%;

  .wrapper {
    overflow: hidden;

    .list {
      display: flex;
      transition: all 0.4s;
    }

    .item {
      opacity: 0.6;
      position: relative;
      flex-shrink: 0;
      height: 100%;
      width: 100vw;

      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.4s;

      img.filme-foto {
        max-width: 100%;
        min-height: 600px;
        // object-fit: cover;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
      }

      .container {
        position: absolute;
        width: 90%;
        height: 600px;
        display: flex;
        align-items: center;

        .content {
          position: absolute;
          padding: 0 10px;
          color: var(--text-color-white);
          width: 50%;

          margin: 0 auto;

          display: flex;
          flex-direction: column;
          justify-content: center;

          .logos {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25rem;

            img:nth-child(1) {
              object-fit: cover;
              align-self: flex-start;
            }

            .falcao {
              width: 60%;
            }
          }

          p {
            margin: 10px 0;
          }

          .p-title {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: bold;
          }

          .p-subtitle {
            line-height: 1.3rem;
          }
        }
      }
    }

    .item.active {
      opacity: 1;
    }
  }

  .control-banner {
    display: flex !important;
    flex-direction: column !important;

    .controls-item {
      p {
        color: var(--text-color-black);
        padding: 20px 20px 10px 20px;
        width: 17%;
        font-size: 0.9rem;
        font-weight: bold;
        position: relative;
        transition: all 0.4s;
        cursor: pointer;

        &::after {
          position: absolute;
          top: 0;
          content: "";
          display: block;
          height: 4px;
          width: 0%;
          background-color: var(--red);
        }
      }

      p.active {
        color: var(--red);
        &::after {
          animation: animateRowBanner 5s linear forwards;
        }
      }

      p:hover {
        color: var(--red);
      }

      @keyframes animateRowBanner {
        to {
          width: 80%;
        }
      }
    }

    .social-medias {
      display: flex;
      justify-content: space-evenly;
      width: 200px;
      align-self: flex-end;
      justify-self: flex-start;
      padding: 20px 20px 5px 20px;

      p {
        display: none;
      }

      div {
        width: 100px;
        display: flex;
        justify-content: space-between;
      }

      i {
        transform: scale(1.5);
        cursor: pointer;
        color: gray;
        transition: all 0.4s;

        &:hover {
          color: var(--text-color-black);
        }
      }
    }
  }
}

.controls-added {
  width: 94%;
  height: 15px;
  position: absolute;
  top: 470px;
  display: none;
  justify-content: center;

  span {
    width: 25px;
    height: 3px;
    background-color: var(--text-color-white);
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: var(--red);
    }

    &.active {
      &::before {
        animation: animateControlAdded 5s linear forwards;
      }
    }

    & + span {
      margin-left: 6px;
    }

    @keyframes animateControlAdded {
      from {
        width: 0%;
      }
      to {
        width: 100%;
      }
    }
  }
}

@media (max-width: 852px) {
  .banner {
    .wrapper {
      .list {
        display: flex;
        transition: all 0.4s;
      }

      .item {
        position: initial;

        img.filme-foto {
          min-height: 400px;
          max-width: 100%;

          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .container {
          position: initial;
          background-color: var(--text-color-black);
          height: 400px;
          padding: 30px 30px 150px 30px;
          width: 100%;

          display: flex;
          justify-content: flex-start;

          .content {
            position: initial;
            padding: 90px 10px 0px 10px;
            color: var(--text-color-white);
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }

    .control-banner {
      display: flex !important;
      flex-direction: column !important;

      .controls-item {
        display: none;
      }

      .social-medias {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid rgba($color: #999999, $alpha: 0.4);
        margin-bottom: 70px;

        p {
          display: block;
          text-transform: uppercase;
          font-size: 1.1rem;
          letter-spacing: 4px;
          font-weight: bold;
          color: var(--subtitle-color);
        }
      }
    }
  }

  .controls-added {
    display: flex;
  }
}

@media (max-width: 600px) {
  .banner {
    .wrapper {
      .list {
        display: flex;
        transition: all 0.4s;
      }

      .item {
        position: initial;

        img.filme-foto {
          min-height: 400px;
          max-width: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .container {
          position: initial;
          background-color: var(--text-color-black);
          height: 400px;
          padding: 30px 30px 150px 30px;
          width: 100%;

          display: flex;
          justify-content: flex-start;

          .content {
            position: initial;
            padding: 90px 10px 0px 10px;
            color: var(--text-color-white);
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .banner {
    .wrapper {
      .list {
        display: flex;
        transition: all 0.4s;
      }

      .item {
        position: initial;

        img.filme-foto {
          min-height: 400px;
          max-width: 100%;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        .container {
          position: initial;
          background-color: var(--text-color-black);
          height: 450px;
          padding: 30px 30px 150px 30px;
          width: 100%;

          display: flex;
          justify-content: flex-start;

          .content {
            position: initial;
            padding: 90px 10px 0px 10px;
            color: var(--text-color-white);
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            .logos {
              width: 20rem;
            }

            .p-title {
              font-size: 1.5rem;
            }

            .p-subtitle {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
