* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #e62429;
  --gray: #202020;
  --text-color-black: #151515;
  --text-color-white: #ffffff;
  --border-color: #393939;
  --subtitle-color: #999999;
  --font: "Roboto", sans-serif;
}

html {
  font-size: 100%;
}

@media (max-width: 920px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 81.25%;
  }
}

body {
  font-family: var(--font);
  padding-bottom: 200px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

// BUTTONS

button {
  background-color: transparent;
}

.button {
  margin-top: 15px;
  display: flex;

  .btn + .btn {
    margin-left: 1.5rem;
  }
}

.btn {
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: bold;
  color: #fff;
  clip-path: polygon(
    21% 0,
    70% 0%,
    100% 0,
    100% 70%,
    79% 100%,
    30% 100%,
    0 100%,
    0 28%
  );

  &:hover {
    filter: brightness(0.9);
    clip-path: polygon(
      0 0,
      70% 0%,
      100% 0,
      100% 70%,
      100% 100%,
      30% 100%,
      0 100%,
      0 28%
    );
  }
}

.red {
  background-color: var(--red);
}

.button.btn-black {
  width: 100%;

  display: flex;
  justify-content: center;
}
.black {
  color: var(--text-color-black);
  border: 1px solid currentColor;
  padding: 20px 35px;
  border-radius: 0.25rem;

  &:hover {
    background-color: var(--gray);
    color: var(--text-color-white);
    border: 1px solid var(--text-color-white);
  }
}

// ================== END BUTTONS

// BOX-SECTIONS

.box-section {
  position: relative;
  top: -90px;
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  // overflow: auto;
}

.box-section {
  width: 90%;
}

.box-section.pad {
  padding: 20px 20px 20px 20px;

  .box-itens-section {
    justify-content: space-between;
  }

  .item-box {
    width: 24%;
    .title {
      color: var(--subtitle-color);
      font-size: 0.9rem;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 5px;
    }

    .subtitle {
      color: var(--text-color-black);
      font-weight: bold;
      font-size: 1rem;
      transition: all 0.4s;
      cursor: pointer;

      &:hover {
        color: var(--red);
      }
    }
  }
}

.box-itens-section {
  display: flex;
}

div.clip {
  background-color: var(--text-color-black);
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  padding-left: 15px;
}

div.clip > img {
  position: absolute;
  right: 0;
  height: 500px;
  width: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%);
}

.info {
  position: initial;
  height: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  color: var(--text-color-white);

  p {
    margin: 15px 0;
    width: 40%;
  }

  .btn {
    border: 2px solid var(--text-color-white);
  }
}

@media (max-width: 852px) {
  .box-section {
    padding-right: 0;
    position: initial;
  }

  .box-section.pad {
    padding: 20px 0
  }

  div.clip {
    clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);

    position: inherit;

    display: flex;
    flex-direction: column;
    padding-left: 0px;

    height: auto;
  }

  div.clip > img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    position: inherit;
    width: 100%;
    height: 400px;
  }

  .info {
    position: inherit;
    height: 70%;
    width: 100%;
    padding: 30px 30px 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    color: var(--text-color-white);

    p {
      margin: 15px 0;
      width: 100%;
    }

    .btn {
      border: 2px solid var(--text-color-white);
    }
  }
}

@media (max-width: 600px) {
  div.clip > img {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .button {
    flex-direction: column;

    .btn + .btn {
      margin-left: 0;
      margin-top: 15px;
    }

    .btn {
      text-align: center;
      font-size: 1rem;
    }
  }
}

// P WITH YELLOW AFTER BEFORE

.yellowAfterAndBefore {
  text-transform: uppercase;
  font-weight: bold;
  align-self: flex-start;
  position: relative;
  font-size: 0.9rem;
  margin-bottom: 25px !important;

  &::before {
    // c6a972
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 45px;
    width: 35px;
    height: 2px;
    background-color: #c6a972;

    transform: rotate(135deg);
  }
  &::after {
    // c6a972
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left: -5px;
    width: 35px;
    height: 2px;
    background-color: #c6a972;

    transform: rotate(135deg);
  }
}
