* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red: #e62429;
  --gray: #202020;
  --text-color-black: #151515;
  --text-color-white: #ffffff;
  --border-color: #393939;
  --subtitle-color: #999999;
  --font: "Roboto", sans-serif;
}

html {
  font-size: 100%;
}

@media (max-width: 920px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 81.25%;
  }
}

body {
  font-family: var(--font);
  padding-bottom: 200px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
}

.button {
  margin-top: 15px;
  display: flex;
}

.button .btn + .btn {
  margin-left: 1.5rem;
}

.btn {
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: bold;
  color: #fff;
  clip-path: polygon(21% 0, 70% 0%, 100% 0, 100% 70%, 79% 100%, 30% 100%, 0 100%, 0 28%);
}

.btn:hover {
  filter: brightness(0.9);
  clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 70%, 100% 100%, 30% 100%, 0 100%, 0 28%);
}

.red {
  background-color: var(--red);
}

.button.btn-black {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.black {
  color: var(--text-color-black);
  border: 1px solid currentColor;
  padding: 20px 35px;
  border-radius: 0.25rem;
}

.black:hover {
  background-color: var(--gray);
  color: var(--text-color-white);
  border: 1px solid var(--text-color-white);
}

.box-section {
  position: relative;
  top: -90px;
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-section {
  width: 90%;
}

.box-section.pad {
  padding: 20px 20px 20px 20px;
}

.box-section.pad .box-itens-section {
  justify-content: space-between;
}

.box-section.pad .item-box {
  width: 24%;
}

.box-section.pad .item-box .title {
  color: var(--subtitle-color);
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.box-section.pad .item-box .subtitle {
  color: var(--text-color-black);
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.4s;
  cursor: pointer;
}

.box-section.pad .item-box .subtitle:hover {
  color: var(--red);
}

.box-itens-section {
  display: flex;
}

div.clip {
  background-color: var(--text-color-black);
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  padding-left: 15px;
}

div.clip > img {
  position: absolute;
  right: 0;
  height: 500px;
  width: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%);
}

.info {
  position: initial;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--text-color-white);
}

.info p {
  margin: 15px 0;
  width: 40%;
}

.info .btn {
  border: 2px solid var(--text-color-white);
}

@media (max-width: 852px) {
  .box-section {
    padding-right: 0;
    position: initial;
  }
  div.clip {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
    height: auto;
  }
  div.clip > img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    position: inherit;
    width: 100%;
    height: 400px;
  }
  .info {
    position: inherit;
    height: 70%;
    width: 100%;
    padding: 30px 30px 60px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: var(--text-color-white);
  }
  .info p {
    margin: 15px 0;
    width: 100%;
  }
  .info .btn {
    border: 2px solid var(--text-color-white);
  }
}

@media (max-width: 600px) {
  div.clip > img {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button .btn + .btn {
    margin-left: 0;
    margin-top: 15px;
  }
  .button .btn {
    text-align: center;
    font-size: 1rem;
  }
}

.yellowAfterAndBefore {
  text-transform: uppercase;
  font-weight: bold;
  align-self: flex-start;
  position: relative;
  font-size: 0.9rem;
  margin-bottom: 25px !important;
}

.yellowAfterAndBefore::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: 45px;
  width: 35px;
  height: 2px;
  background-color: #c6a972;
  transform: rotate(135deg);
}

.yellowAfterAndBefore::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: -5px;
  width: 35px;
  height: 2px;
  background-color: #c6a972;
  transform: rotate(135deg);
}

header.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

header.desktop .header {
  background-color: var(--gray);
  height: auto;
  color: var(--text-color-white);
  font-size: 0.8rem;
  text-transform: uppercase;
}

header.desktop .header .header-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}

header.desktop .header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  height: 52px;
  padding: 20px;
}

header.desktop .header .login img {
  margin-right: 5px;
}

header.desktop .header .login a {
  text-decoration: none;
  color: var(--text-color-white);
  font-weight: bold;
}

header.desktop .header .login span {
  font-size: 1rem;
  margin: 0 5px 0 5px;
}

header.desktop .header .logo {
  height: 52px;
  clip-path: polygon(0 0, 26% 0, 25% 100%, 0% 100%);
  animation: animateLogo 2s 1s ease forwards;
}

@keyframes animateLogo {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

header.desktop .header .busca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  height: 52px;
  cursor: pointer;
}

header.desktop .header .busca .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

header.desktop .header .busca .subscribe img {
  margin-right: 7px;
}

header.desktop .header .busca .subscribe p {
  text-align: center;
  font-weight: bold;
}

header.desktop .header .busca .subscribe p:nth-child(1) {
  font-size: 0.7rem;
}

header.desktop .header .busca .subscribe p:nth-child(2) {
  font-size: 0.6rem;
  letter-spacing: 3px;
}

header.desktop .header .busca .search {
  height: 100%;
  width: 50px;
  border-left: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

header.desktop .header .menu-dropdown {
  width: 100%;
  height: 40px;
  background-color: var(--gray);
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

header.desktop .header .menu-dropdown nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.desktop .header .menu-dropdown nav a {
  width: auto;
  padding: 0 20px;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header.desktop .header .menu-dropdown nav a:hover::after {
  opacity: 1;
}

header.desktop .header .menu-dropdown nav a::after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 40%;
  margin: 0 auto;
  background-color: var(--red);
  bottom: 0;
  opacity: 0;
  transition: all 0.4s;
}

.header-mobile {
  display: none;
  background-color: var(--gray);
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.header-mobile .hamburguer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
  height: 25px;
}

.header-mobile .hamburguer [data-hamb] {
  width: 70%;
  height: 4px;
  background-color: #fff;
}

.header-mobile .search {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mobile .search i {
  color: var(--text-color-white);
  font-size: 1.3rem;
}

@media (max-width: 852px) {
  header.desktop {
    display: none;
  }
  .header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.banner {
  width: 100%;
}

.banner .wrapper {
  overflow: hidden;
}

.banner .wrapper .list {
  display: flex;
  transition: all 0.4s;
}

.banner .wrapper .item {
  opacity: 0.6;
  position: relative;
  flex-shrink: 0;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.banner .wrapper .item img.filme-foto {
  max-width: 100%;
  min-height: 600px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.banner .wrapper .item .container {
  position: absolute;
  width: 90%;
  height: 600px;
  display: flex;
  align-items: center;
}

.banner .wrapper .item .container .content {
  position: absolute;
  padding: 0 10px;
  color: var(--text-color-white);
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .wrapper .item .container .content .logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
}

.banner .wrapper .item .container .content .logos img:nth-child(1) {
  object-fit: cover;
  align-self: flex-start;
}

.banner .wrapper .item .container .content .logos .falcao {
  width: 60%;
}

.banner .wrapper .item .container .content p {
  margin: 10px 0;
}

.banner .wrapper .item .container .content .p-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.banner .wrapper .item .container .content .p-subtitle {
  line-height: 1.3rem;
}

.banner .wrapper .item.active {
  opacity: 1;
}

.banner .control-banner {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.banner .control-banner .controls-item p {
  color: var(--text-color-black);
  padding: 20px 20px 10px 20px;
  width: 17%;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;
}

.banner .control-banner .controls-item p::after {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  height: 4px;
  width: 0%;
  background-color: var(--red);
}

.banner .control-banner .controls-item p.active {
  color: var(--red);
}

.banner .control-banner .controls-item p.active::after {
  animation: animateRowBanner 5s linear forwards;
}

.banner .control-banner .controls-item p:hover {
  color: var(--red);
}

@keyframes animateRowBanner {
  to {
    width: 80%;
  }
}

.banner .control-banner .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 200px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  padding: 20px 20px 5px 20px;
}

.banner .control-banner .social-medias p {
  display: none;
}

.banner .control-banner .social-medias div {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .control-banner .social-medias i {
  transform: scale(1.5);
  cursor: pointer;
  color: gray;
  transition: all 0.4s;
}

.banner .control-banner .social-medias i:hover {
  color: var(--text-color-black);
}

.controls-added {
  width: 94%;
  height: 15px;
  position: absolute;
  top: 470px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls-added span {
  width: 25px;
  height: 3px;
  background-color: var(--text-color-white);
  cursor: pointer;
  position: relative;
}

.controls-added span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--red);
}

.controls-added span.active::before {
  -webkit-animation: animateControlAdded 5s linear forwards;
          animation: animateControlAdded 5s linear forwards;
}

.controls-added span + span {
  margin-left: 6px;
}

@-webkit-keyframes animateControlAdded {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes animateControlAdded {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 852px) {
  .banner .wrapper .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .banner .wrapper .item {
    position: initial;
  }
  .banner .wrapper .item img.filme-foto {
    min-height: 400px;
    max-width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .banner .wrapper .item .container {
    position: initial;
    background-color: var(--text-color-black);
    height: 400px;
    padding: 30px 30px 150px 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .banner .wrapper .item .container .content {
    position: initial;
    padding: 90px 10px 0px 10px;
    color: var(--text-color-white);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .control-banner {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .banner .control-banner .controls-item {
    display: none;
  }
  .banner .control-banner .social-medias {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.4);
    margin-bottom: 70px;
  }
  .banner .control-banner .social-medias p {
    display: block;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 4px;
    font-weight: bold;
    color: var(--subtitle-color);
  }
  .controls-added {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 600px) {
  .banner .wrapper .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .banner .wrapper .item {
    position: initial;
  }
  .banner .wrapper .item img.filme-foto {
    min-height: 400px;
    max-width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .banner .wrapper .item .container {
    position: initial;
    background-color: var(--text-color-black);
    height: 400px;
    padding: 30px 30px 150px 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .banner .wrapper .item .container .content {
    position: initial;
    padding: 90px 10px 0px 10px;
    color: var(--text-color-white);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  .banner .wrapper .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .banner .wrapper .item {
    position: initial;
  }
  .banner .wrapper .item img.filme-foto {
    min-height: 400px;
    max-width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .banner .wrapper .item .container {
    position: initial;
    background-color: var(--text-color-black);
    height: 450px;
    padding: 30px 30px 150px 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .banner .wrapper .item .container .content {
    position: initial;
    padding: 90px 10px 0px 10px;
    color: var(--text-color-white);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .wrapper .item .container .content .logos {
    width: 20rem;
  }
  .banner .wrapper .item .container .content .p-title {
    font-size: 1.5rem;
  }
  .banner .wrapper .item .container .content .p-subtitle {
    font-size: 1rem;
  }
}

.falcon-winterSoldier {
  min-height: 600px;
  width: 100%;
}

@media (max-width: 852px) {
  .falcon-winterSoldier .box-section {
    overflow: auto;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  .falcon-winterSoldier .box-section::-webkit-scrollbar {
    background-color: #0004;
    height: 3px;
    cursor: pointer;
  }
  .falcon-winterSoldier .box-section::-webkit-scrollbar-thumb {
    background-color: var(--red);
    cursor: pointer !important;
  }
  .falcon-winterSoldier .box-section .box-itens-section .item-box {
    width: 200px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-bottom: 50px;
  }
  .falcon-winterSoldier .box-section .box-itens-section .item-box + .item-box {
    margin-left: 20px;
  }
}

.gibis .clip {
  height: 580px;
}

.gibis .clip > img {
  height: 540px;
}

.gibis .info .p-title {
  font-weight: bold;
  font-size: 2rem;
  margin: 10px 0 0 0;
}

.gibis .info img {
  margin-bottom: 20px;
}

.gibis .box-section.pad {
  height: auto !important;
  padding: 30px 30px 3rem 30px !important;
  overflow: auto;
}

.gibis .box-section.pad::-webkit-scrollbar {
  background-color: #0004;
  height: 5px;
  cursor: pointer;
}

.gibis .box-section.pad::-webkit-scrollbar-thumb {
  background-color: var(--red);
  cursor: pointer !important;
}

.gibis .item-box {
  width: 200px !important;
  height: 320px !important;
  cursor: pointer;
  transition: all 0.4s;
}

.gibis .item-box:hover img {
  transform: translateY(-5px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
}

.gibis .item-box:hover .title {
  color: var(--red) !important;
}

.gibis .item-box img {
  transition: all 0.4s;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}

.gibis .item-box .title {
  color: var(--text-color-black) !important;
  font-weight: bold !important;
  transition: all 0.4s;
}

.gibis .item-box .subtitle {
  color: var(--subtitle-color) !important;
  font-size: 0.9rem !important;
}

.gibis .item-box + .item-box {
  margin-left: 20px;
}

@media (max-width: 852px) {
  .gibis .clip {
    height: auto;
  }
}

.news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
  gap: 60px;
}

.news main h1 {
  font-size: 1.5rem;
}

.news main .latest-itens div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.news main .latest-itens div div {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
}

.news main .latest-itens div div p + p {
  margin-top: 8px;
}

.news main .latest-itens div div p:nth-child(1) {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--subtitle-color);
}

.news main .latest-itens div div p:nth-child(2) {
  text-transform: uppercase;
  color: var(--text-color-black);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.news main .latest-itens div div p:nth-child(3) {
  text-transform: uppercase;
  color: var(--subtitle-color);
  font-size: 0.8rem;
}

.news main .latest-itens:last-child {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.news main .latest-itens div + div {
  border-top: 1px solid rgba(153, 153, 153, 0.4);
}

.news aside {
  height: auto;
}

.news aside .hype-container {
  width: 100%;
  position: relative;
  height: auto;
  padding: 45px 20px;
}

.news aside .hype-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news aside .hype-container div h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news aside .hype-container div p {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.news aside .hype-container svg {
  fill: none;
  stroke: #c6a972;
  stroke-width: 3px;
  position: absolute;
}

.news aside .hype-container svg:nth-child(1) {
  top: 0;
  left: 0;
}

.news aside .hype-container svg:nth-child(2) {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  bottom: 0;
  right: 0;
}

.news aside .hype-container .item-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(153, 153, 153, 0.3);
  padding: 15px 0;
}

.news aside .hype-container .item-news img {
  width: 40%;
}

.news aside .hype-container .item-news p {
  text-align: left;
}

.news aside .hype-container .item-news div {
  margin-left: 15px;
}

.news aside .hype-container .item-news .p-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--subtitle-color);
}

.news aside .hype-container .item-news .p-subtitle {
  font-size: 0.9rem;
  color: var(--text-color-black);
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */